@layer coinLayer;

:root{
    --box-padding: 10px;
    --box-width: 150px;
    --box-height:150px;
    --coin-outer-width: calc(var(--box-width) - var(--box-padding) * 2);
    --coin-outer-height: var(--coin-outer-width);
    --outer-padding: 20px;
    --coin-inner-width: calc(var(--coin-outer-width) - var(--outer-padding) * 2);
    --coin-inner-height: var(--coin-inner-width);
    --inner-padding: 10px;
    --outer-radius: calc((var(--box-width) - var(--box-padding) * 2) / 2);
    --inner-radius: calc(var(--outer-radius) - var(--outer-padding));
    --inner-background: white;
    --outer-background: yellow;
    --image-height: calc(1.1 * var(--inner-radius));
    --shadows-margin: -1px;
    --shadows-outer-background: grey;
    --coin-background-color: blue;
}

*{
    box-sizing: border-box;
    outline: 0px solid black;
}

@layer coinLayer{
    .coin{
        width: var(--box-width);
        height: var(--box-height);
        padding: var(--box-padding);
        background-color: var(--coin-background-color);
    }

    .coin-outer{
        padding: var(--outer-padding);
        border-radius: var(--outer-radius);
        background-color: var(--outer-background);
        width: var(--coin-outer-width);
        height: var(--coin-outer-height);
        box-shadow: 0px -6px inset orange;
    }

    .coin-inner{
        display: flex;
        padding: var(--inner-padding);
        border-radius: var(--inner-radius);
        width: var(--coin-inner-width);
        height: var(--coin-inner-height);
        background-color: var(--inner-background);
        box-shadow: 0px 4px inset grey;
    }

    .coin-inner img{
        margin:auto;
        height: var(--image-height);
    }

    .shadows{
        margin-top: var(--shadows-margin);
        width: var(--box-width);
        height: var(--box-height);
        padding: var(--box-padding);
    }

    .shadows .outer{
        padding: var(--outer-padding);
        border-radius: var(--outer-radius);
        background-color: var(--shadows-outer-background);
        width: var(--coin-outer-width);
        height: var(--coin-outer-height);
    }

    .shadows .inner{
        display: flex;
        padding: var(--inner-padding);
        border-radius: var(--inner-radius);
        width: var(--coin-inner-width);
        height: var(--coin-inner-height);
        background-color: var(--inner-background);
    }

}