@layer firstLayer;

:root{
    --header-margin-horizantal: 20%;
    --header-border-color: hsl(239, 23%, 61%);
    --header-border-radius: 15px;
    --score-border-color: black;
    --score-border-radius: 10px;
    --score-padding: 5px;
}

* {
    outline: 0px solid black;
}

@layer firstLayer{
    .header{
        display: flex;
        padding: 0.5em;
        width: 50%;
        min-width: 320px;
        border: 3px solid var(--header-border-color);
        border-radius: var(--header-border-radius);
        margin: 30px auto;
    }
    .title{
        margin-right: auto;
        color: white;
        padding: 0.5em;
        font-size: 1.5rem;
    }

    .score{
        background-color: white;
        margin-left: auto;
        border-radius: var(--score-border-radius);
        padding-left: var(--score-padding);
        padding-right: var(--score-padding);
    }

    .score .text-wrapper{
        display: flex;
        padding-left:10px;
        padding-right: 10px;
    }

    .score .text{
        margin: 5px auto;
        color: hsl(240, 61%, 43%);
    }
    .score .val-wrapper{
        display: flex;
    }
    .score .val{
        color: rgb(99, 90, 90);
        font-size: 3em;
        margin: auto;
    }

}