@import url(./header.css);

@import url(./choices.css);

@import url(./game-result.css);

@layer mainLayer{
    body{
        background-color: hsl(214, 47%, 23%);
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    .choices{
        margin: 5% auto;
    }

    .hidden{
        display: none;
    }

    .custom-button:hover{
        cursor: pointer;
        box-shadow: 3px 3px 5px black;
    }

    .custom-button:active{
        box-shadow: none;
    }

    #label-wrapper{
        display: flex;
    }

    #label-wrapper .winner-label{
        margin: auto;
    }
    .rules{
        position: fixed;
        bottom: 50px;
        right: 50px;
        font-size: 2.5rem;
        padding: 0px 10px 2px;
        background-color: transparent;
        border: 2px solid hsl(239, 23%, 61%);
        color: white;
        border-radius: 10px;
    }

    .rules:hover{
        cursor: pointer;
        background-color: white;
        opacity = 1;
    }
}

